.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.label {
  transform: none !important;
  font-weight: 500;
}
