.desktopView {
  display: block;
  width: 100%;
}

.header {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
}

.signedInText {
  font-size: 0.875rem;
  color: var(--fg-base);
}

.signedInEmail {
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-top: 1px solid #e5e7eb;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  grid-column: 1;
  grid-row: span 2;
  flex: 1;
}

.statsRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .statsRow {
    flex-direction: row;
    gap: 4rem;
  }
}

.statGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.statTitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.statValue {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.statNumber {
  font-size: 1.875rem;
  line-height: 1;
}

.statLabel {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--fg-subtle);
}

.ordersSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ordersHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ordersList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orderContainer {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 640px) {
  .orderContainer {
    flex-direction: row;
    align-items: center;
  }
}

.orderInfo {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
  font-size: 0.875rem;
  width: 100%;
}

@media (min-width: 640px) {
  .orderInfo {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.orderLabel {
  font-weight: 600;
}

.orderButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderButtonIcon {
  transform: rotate(-90deg);
}
