.addAddressButton {
  border-radius: 10px;
  padding: 1.25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke !important;
}

.addAddressText {
  font-size: var(--base-semi);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nameGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.postalCityGrid {
  display: grid;
  grid-template-columns: 144px 1fr;
  gap: 0.5rem;
}

.errorMessage {
  color: rgb(244 63 94);
  font-size: var(--small-regular);
  padding: 0.5rem 0;
}

.footerContainer {
  display: flex;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.footerButton {
  height: 2.5rem;
}

.modalTitle {
  margin-bottom: 0.5rem;
  font-size: 15px;
  font-weight: 600;
}
