/* components/ItemsTemplate.module.css */

.wrapper {
  padding: 2rem;
  background-color: whitesmoke;
  border-radius: 10px;
}

.header {
  /* padding-bottom: 1rem; */
  display: flex;
  align-items: center;
}

.heading {
  font-size: 2rem;
  line-height: 2.75rem;
}

.tableHeader {
  color: #6b7280; /* subtle gray */
  font-size: 15px;
}

.rightAlign {
  text-align: right;
}

.hiddenOnSmall {
  display: none;
}

@media (min-width: 640px) {
  .hiddenOnSmall {
    display: table-cell;
  }
}
